<div class="max-h-[250px] min-w-[500px] overflow-auto rounded border border-gray-200">
    <div
          *ngIf="dataLoaded == false"
          class="animate-spin inline-block w-10 h-10 border-[3px] border-current border-t-transparent text-blue-600 rounded-full"
          role="status"
          aria-label="loading"
        ></div>
    <table *ngIf="dataLoaded == true" class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white sticky top-0">
        <tr>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">
            Company Name
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let customer of customers">
          <td
            class="w-1/3 text-left py-3 px-4 hover:bg-gray-800 hover:text-white"
          >
            {{ customer.companyName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>